<div>
  <button mat-icon-button color="primary" (click)="bulkSave()">Bulk Save</button>
</div>

<table mat-table [dataSource]="usersData" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element" (dblclick)="editRow(element.id)">
      <input *ngIf="isEditing[element.id]" [(ngModel)]="element.id" 
             (blur)="saveEdit(element.id, 'id', element.id)" />
      <span *ngIf="!isEditing[element.id]"> {{element.id}} </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element" (dblclick)="editRow(element.id)">
      <input *ngIf="isEditing[element.id]" [(ngModel)]="element.name" 
             (blur)="saveEdit(element.id, 'name', element.name)" />
      <span *ngIf="!isEditing[element.id]"> {{element.name}} </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element" (dblclick)="editRow(element.id)">
      <input *ngIf="isEditing[element.id]" [(ngModel)]="element.username"
             (blur)="saveEdit(element.id, 'username', element.username)" />
      <span *ngIf="!isEditing[element.id]"> {{element.username}} </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="isEditing[element.id]">
        <button mat-icon-button color="primary" (click)="toggleEditing(element.id, false)" matTooltip="Save">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="cancelEdit(element.id)" matTooltip="Cancel">
          <mat-icon>cancel</mat-icon>
        </button>
            </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
