.mat-row-sticky {
    position: sticky;
    top: 56px; 
    left: 0; 
    z-index: 10; 
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  

  .mat-table-sticky-header {
    position: sticky;
    top: 0;
    z-index: 20; 
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  