.small-column {
  max-width: 150px ;
  overflow: hidden;  
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
}
 
.medium-column {
  max-width: 350px ;
  min-width: 100px;
  overflow: hidden ;  
  text-overflow: ellipsis ;
  height: 100%;
  white-space: nowrap ;
}
 
.large-column {
  max-width: none;
  white-space: normal;
  height: 100%;
  overflow: visible;
}
.expanded{
  background-color: aqua;
}
.hide{
  display: none;
}
.show {
  display: table-row;
}
 